@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Padauk:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.cart .scrollable-content {
    overflow-y: scroll;
  }
  
  .cart .scrollable-content::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }
  
  .cart .scrollable-content {
    -ms-overflow-style: none;  /* For Internet Explorer */
    scrollbar-width: none;  /* For Firefox */
  }

  